*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, serif;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background: rgb(21, 21, 21);
    color: var(--font-color);
    width: 98vw;
    left: 0;
    right: 0;
    top: 0;
}
body::-webkit-scrollbar{
    display: none;
}
#splash{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 110;
}
#splash img:first-child{
    max-width: 40vw;
    margin-bottom: 30px;
    scale: 0.9;
    animation: getBigger 2s infinite alternate;
}
@keyframes getBigger {
    to{
        scale: 1;
    }
}

.loader{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.loader span{
    border: 1px solid white;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}
.loader span.jump{
    transform: translateY(-20px);
}
/* On Scroll transitions */
.animate{
    transition: all 0.7s ease-out;
}
.up{
    top: -10px;
}
.down{
    top: 10px;
}
.left{
    left: -10px;
}
.right{
    left: 10px;
}
.getUp, .getDown{
    top: 0;
    left: 0;
    opacity: 1;
}
.getLeft, .getRight{
    left: 0;
    top: 0;
    opacity: 1;
}
/* Scroll Icon */
.scroll{
    width: 100vw;
    height: 15vh;
}
.scroll-icon{
    margin: auto;
    width: 30px;
    height: 70px;
    border: 2px solid var(--highlight-color-1);
    border-radius: 20px;
    position: relative;
}
.scroll-icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--highlight-color-1);
    border-radius: 50%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    animation: down 1s infinite;
}
@keyframes down{
    to{
        top: 60%;
        opacity: 0.1;
    }
}