/* Second Page - Work Experience Section */
#article2{
    height: max-content;
    position: relative;
    margin-top: 10px;
    padding: 2rem;
    margin: auto;
}
#article2 #works{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.workcontainer{
    width: 100%;
    height: max-content;
    margin: 2rem;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 2px solid rgb(233, 17, 143);
}
.workcontainer h1{
    position: relative;
    margin-bottom: 25px;
    font-size: 2.5rem;
    text-align: center;
    top: 0;
    text-wrap: wrap;
    height: max-content;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.card.withphoto{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card.withphoto span:first-child{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative;
    transition: all 0.2s ease-in-out;
}
.card.withphoto span:first-child::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(130deg, var(--highlight-color-1), var(--highlight-color-2));
    
}
.card.withphoto:hover span:first-child::before{
    transform: scale(1.04);
}
.card.withphoto span:first-child img{
    border-radius: 20px;
    width: 100%;
}
.card.withphoto span.details{
    width: 55%;
}
span.keypoints ul{
    list-style: none;
    background: transparent;;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}
span.keypoints ul li{
    border: 3px solid var(--background-color-2);
    background-color: transparent;
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    font-weight: 500;
}
span.keypoints ul li:hover, span.keypoints ul li:focus{
    background-color: var(--background-color-2);
    transform: scale(1.1);
    color: white;
}
span.details h2{
    width: fit-content;
    background-image: linear-gradient(130deg,var(--highlight-color-1), var(--highlight-color-2));
    margin-bottom: 15px;
    font-size: 2rem;
    background-clip: text;
    color: transparent;
}
span.details p{
    font-size: 1rem;
    margin-bottom: 20px;
}
#workSelectionDiv{
    border: 2px solid rgb(15,15,15);
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 40px;
    background-color: rgb(15,15,15);
}
#workSelectionDiv ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}
#workSelectionDiv ul li{
    padding: 8px;
    transition: all 0.1s ease-in-out;
    border-radius: 40px;
}
#workSelectionDiv ul li:hover{
    cursor: pointer;
}
.activeWork{
    background-color: rgb(40, 40, 40);
}